@import '../../styles/custom-properties.scss';

.jobs {
  width: 100%;
  padding: 2rem;
}
.editor {
  background-color: var(--white);
  color: var(--black);
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 1rem;
  min-height: 50vh;
  text-align: left;
}

.jobList {
  display: flex;
  flex-direction: column;
}
.jobList > button {
  margin: 1em 2em;
}
