@import './styles/custom-properties.scss';
@import './styles/stylesheet.scss';

html {
  overflow-x: hidden;
}
.App {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #282c34;
  align-items: center;
  font-family: cooper_hewittbook;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}
.App h2,
.App h3 {
  margin: 1rem 140px;
}
.logoHolder {
  display: flex;
  flex-direction: column;
  pointer-events: none;
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.logo {
  height: 10vh;
}

.logoText {
  width: 10vh;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 15s linear;
  }
  .logoText {
    animation: App-log-text-fade-in-fade-out infinite 15s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-log-text-fade-in-fade-out {
  0% {
    opacity: 1;
    scale: 0.8;
  }
  3%,
  25% {
    opacity: 0;
    scale: 0.3;
  }
  40% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.4;
    scale: 0.8;
  }
  80% {
    opacity: 0.6;
  }
  95% {
    scale: 1.2;
  }
  100% {
    opacity: 1;
    scale: 1.2;
  }
}
